/voice_samples/
/voice_storage/
/stt_training_samples/
/stt_adapters_storage/
/voice_station.db
session_secret.txt
.idea/
__pycache__/
*.pyc
*.pyo
/bin/
/local_rvc/
/server.log*
/station.out.log
/station.err.log
/local_rvc_worker.out.log
/local_rvc_worker.err.log
/stt_general_benchmark/
/tools/medical_eval_set/
